html {
		position: relative;
		min-height: 100%;
}

body {
margin-bottom: 60px;
background: url("../images/bg.png");
background-repeat:no-repeat;
background-size: cover;
background-position: center;
}

#white {
color: white;
}

.header {
height: auto;
margin: 0;
border-radius: 0;
color: white;
text-shadow: 2px 2px black;

}

.footer {
		position: absolute;
		bottom: 0;
		margin-bottom: 0;
		padding-bottom: 0;
		width: 100%;
		height: 60px;
		line-height: 60px;
		background-color: #555;
		color: white;
}

 #navbar {
      margin: 0;
      border-radius: 0;
			width: 100%;
      background-color: black;
    }

.sidenav {
      padding: 20px;
      height: 100%;
}

.nav-link
{
	background: none;
	text-align: left;
	border: none;
	color:white;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}


.nav-link:hover{
	background: none;
	border: none;
	color:grey;
}

.nav-link:active {
  background: none;
  text-align: left;
  border: none;
  color:white;
}

.store-item
{
	background: none;
	text-align: left;
	border: none;
	color:black;
}


.store-item:hover{
	background: none;
	border: none;
	color:darkgrey;
}

.form-signin {
    max-width: 330px;
  	padding: 15px;
  	margin: 0 auto;
}


.form-signin .form-signin-heading,
.form-signin .checkbox {
  	margin-bottom: 10px;
}

.form-signin .checkbox {
  	font-weight: normal;
}

.form-signin .form-control {
  	position: relative;
  	height: auto;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
  	padding: 10px;
  	font-size: 16px;
}

.form-signin .form-control:focus {
  	z-index: 2;
}

.form-signin input[type="email"] {
  	margin-bottom: -1px;
  	border-bottom-right-radius: 0;
  	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  	margin-bottom: 10px;
  	border-top-left-radius: 0;
  	border-top-right-radius: 0;
}

@media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
